.destination-list {
  margin: 64px auto 0px;
  width: 90%;
}

.horizontal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0px auto 64px;
  justify-content: space-between;
}

.destination-list h3 {
  margin-bottom: 32px;
  font-size: 24px;
}
