.detail-pricing {
  width: 25%;
  background-color: #ebf3ff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.detail-pricing h3 {
  color: var(--color-brown);
}

.price {
  font-size: 24px;
}

.price span:first-child {
  font-weight: bold;
}

.detail-pricing button {
  padding: 12px;
  width: 100%;
  font-weight: bold;
}

.detail-pricing button {
  border: none;
  background-color: var(--color-button);
  color: var(--color-text-contrast);
  border-radius: 8px;
}
