.logo {
  display: flex;
  margin-bottom: 16px;
}

.logo > button {
  background-color: var(--color-primary);
  border: none;
  font-size: 18px;
  color: white;
}

.buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.buttons button {
  color: var(--color-primary);
  margin-left: 16px;
  padding: 8px 16px;
  border: none;
}
